<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
 <div class="text-center">
      <h1 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
        Programmation des films
      </h1>
      <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
        Découvrez les prochains films projetés au Ciné Portet
      </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @programmations.each do |programmation| %>
      <div class="bg-white shadow rounded-lg overflow-hidden">
              
        <div class="aspect-[2/3]">
            <% if programmation.movie&.poster_url.present? %>
              <%= image_tag programmation.movie.poster_url, class: "w-full h-full object-contain" %>
            <% else %>
              <%= image_tag "poster_tbd.jpg", class: "w-full h-full object-contain" %>
            <% end %>
        </div>

        <div class="p-6">
          <% if programmation.movie.present? %>
            <h2 class="text-xl font-semibold mb-2"><%= programmation.movie.title %></h2>
          <% else %>
            <h2 class="text-xl font-semibold mb-2">Annonce à venir</h2>
          <% end %>
          <div class="text-gray-600 mb-4">
            <p><%= programmation.time.strftime("%d/%m/%Y à %H:%M") %></p>
            <% if programmation.movie.present? %>
            <p><%= programmation.movie.duration %> minutes</p>
            <p><%= programmation.movie.genre %></p>
            <% end %>
          </div>
          <% if programmation.movie.present? %>
            <div class="mb-4">
              <h3 class="font-medium mb-2">Tarifs :</h3>
              <ul class="text-sm text-gray-600 space-y-1">
                <% if programmation.normal_price.present? %>
                  <li>Normal : <%= number_to_currency(programmation.normal_price, unit: "€") %></li>
                <% end %>
                <% if programmation.member_price.present? %>
                  <li>Adhérent : <%= number_to_currency(programmation.member_price, unit: "€") %></li>
                <% end %>
                <% if programmation.reduced_price.present? %>
                  <li>Réduit : <%= number_to_currency(programmation.reduced_price, unit: "€") %></li>
                <% end %>
              </ul>
            </div>

            <%
=begin%>
 <% if programmation.tickets_available? %>
              <%= link_to "Acheter des billets", new_programmation_ticket_path(programmation), class: "block w-full bg-blue-600 text-white text-center py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
            <% else %>
              <div class="text-center text-red-600 font-medium">
                Complet
              </div>
            <% end %> 
<%
=end%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>